{% extends "sheets/base.html" %}
{% load static from staticfiles %}

{% block title %}
    {{ sheet.title }}
{% endblock title %}

{% block page-content %}
    <div class="row">
        <!-- #### FIRST ROW #### -->
        <div class="col s12">
            <a class="waves-effect waves-light btn" href="{% url "sheets:list"%}" style="margin:auto;">
                <i class="material-icons left">replay</i>
                Back
            </a>
        </div>

        <!-- #### SECOND ROW #### -->
        <div class="col s1 valign-wrapper" style="height:100vh;">
                <a id="previousButton"
                   class="btn-floating btn-small waves-effect waves-light teal lighten-3"
                   style="margin:auto;">
                    <i class="material-icons">skip_previous</i>
                </a>
        </div>

        <div class="col s5">
            <img id="firstImage" src="{{ images.0 }}" style="height:95vh; display:block; margin:auto;">
        </div>

        <div class="col s5">
            {% if images|length > 1 %}
                <img id="secondImage" src="{{ images.1 }}" style="height:95vh; display:block; margin:auto;">
            {% endif %}
        </div>

        <div class="col s1 valign-wrapper" style="height:100vh;">
            <a id="nextButton"
               class="btn-floating btn-small waves-effect waves-light teal lighten-3"
               style="margin:auto;">
                <i class="material-icons">skip_next</i>
            </a>
        </div>
    </div>
{% endblock page-content %}

{% block page-scripts %}
    <script>
            var firstPage = 0;
            var images = {{ images|safe }}

            function checkButtonsEnablings() {
                if (firstPage <= 0) {
                    $("#previousButton").hide();
                }
                else {
                    $("#previousButton").show();
                }

                if (firstPage >= images.length - 2) {
                    $("#nextButton").hide();
                }
                else {
                    $("#nextButton").show();
                }
            }

            function loadImages() {
                $("#firstImage").attr("src", images[firstPage]);
                if (firstPage < images.length - 1)
                {
                    $("#secondImage").attr("src", images[firstPage + 1]);
                }
            }

            $("#previousButton").click(function() {
                if (firstPage > 0){
                    firstPage--;
                    checkButtonsEnablings();
                    loadImages();
                }
            });

            $("#nextButton").click(function() {
                if (firstPage < images.length - 2){
                    firstPage++;
                    checkButtonsEnablings();
                    loadImages();
                }
            });

            $(document).ready(checkButtonsEnablings);
    </script>
{% endblock page-scripts %}
